<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= render 'form', todo: @todo %>
  </header>
  <% if @todos.present? %>
    <section class="main">
      <%= form_tag(toggle_all_todos_path, method: :put) do -%>
        <%- status = @todos.all?(&:completed) %>
        <%= check_box_tag 'completed', '1', status, id: 'toggle-all', class: 'toggle-all', onchange: 'this.form.submit()' %>
        <%= label_tag 'toggle-all', "Mark all as#{status ? ' not' : nil} complete" %>
      <% end -%>
      <ul class="todo-list">
        <% @todos.each do |todo| %>
          <%= content_tag(:li, class: todo.completed ? 'completed' : nil) do -%>
            <div class="view">
              <%= check_box_tag nil, '1', todo.completed, class: 'toggle' %>
              <%= label_tag nil, todo.title %>
              <button class="destroy"></button>
            </div>
            <%= text_field_tag(:title, todo.title, class: 'edit')%>
          <% end -%>
        <% end %>
      </ul>
    </section>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  <% end %>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/hemslo">Hemslo</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
